@import url(http://fonts.googleapis.com/css?family=Raleway:100);

html {
	background: #f5f5f5 url("images/background.gif");
}

body {
	padding: 2em 4em;
	margin: 0 auto;
	max-width: 900px;
	font-family: 'Open Sans', arial, sans-serif;
}

a {
	text-decoration: none;
}

.header h1 {
	text-transform: uppercase;
	font: 100 1.5em 'Raleway', sans-serif;
	margin: 0;
	padding-bottom: .225em;
}

.header > a {
	float: left;
	color: #000;
}

.header > a * {
	display: inline-block;
}

.header > a img {
	vertical-align: bottom;
	margin-right: .75em;
}

.header ul {
	float: right;
	margin: 1em 0;
	padding: 0;
}

.header ul li {
	display: inline;
	list-style: none;
	margin-left: .5em;
	font-weight: 400;
	font-size: 90%;
	letter-spacing: .05em;
}

.header ul li a {
	display: inline-block;
	padding: .25em .5em;
	color: #000;
	border-bottom: 1px solid transparent;
}

.header ul li a:hover {
	color: #555;
}

.header ul li a:active {
	position: relative;
	top: 1px;
}

.header ul li #current-page {
	background: #ebebeb;
	border-bottom: 1px solid #fff;
	-moz-box-shadow: -1px -1px 0 #d2d2d2;
	-webkit-box-shadow: -1px -1px 0 #d2d2d2;
	box-shadow: -1px -1px 0 #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.header ul li #current-page:hover {
	color: #000;
}

.header ul li #current-page:active {
	position: relative;
	top: 0px;
}

.pitch {
	clear: both;
	border-top: 1px solid #ececec;
}

.pitch h2 {
	float: left;
	max-width: 12.6em;
	font: 100 2.5em 'Raleway', sans-serif;
	line-height: 1.2em;
}

.pitch #demo {
	float: right;
	text-align: center;
	background: #f8f8f8;
	padding: 1.65em 2.2em;
	margin: 3em 3em 2em 0;
	border: 1px solid #fff;
	-moz-box-shadow: -1px -1px 1px #d3d3d3;
	-webkit-box-shadow: -1px -1px 0 #d3d3d3;
	box-shadow: -1px -1px 0 #d3d3d3;
}

.pitch #demo > p {
	text-align: center;
	border-bottom: 1px solid #dadada;
	padding: 0 2em .7em;
	margin: 0 0 .85em 0;
	font-size: 97%;
	font-weight: 300;
}

#demo a {
	display: inline-block;
	padding: .1em 1em .5em;
	font: 81.25% arial, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	background-color: #7b7b7b;
	background-image: -moz-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.3)), to(rgba(0,0,0,.7)));
	background-image: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)); 
	background-image: -o-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7));
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.35);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.35);
	box-shadow: 0 1px 0 rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.35);
	border: 1px solid #252525;
	border: 1px solid rgba(0,0,0,.7);
	text-shadow: 0px -1px 1px rgba(0,0,0,0.75);
}

#demo a:hover {
	background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.2)), to(rgba(0,0,0,.6)));
	background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6)); 
	background-image: -o-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6));
	text-shadow: 0px -1px 1px rgba(0,0,0,0.75), 0px 0px 15px rgba(255,255,255,0.65);
}

#demo a:active {
	background-image: -moz-linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.75));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.45)), to(rgba(0,0,0,.75)));
	background-image: -webkit-linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.75)); 
	background-image: -o-linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.75));
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 0 0 rgba(0,0,0,0);
	text-shadow: 0px 1px 4px rgba(0,0,0,0.75), 0px 0px 15px rgba(255,255,255,0.25);
}

#demo a img {
	display: inline;
	vertical-align: text-bottom;
	margin-right: .75em;
	padding-top: .4em;
}

#demo a p {
	display: inline;
	font-size: 1.35em;
}

.values {
	clear: both;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	padding-bottom: 1.25em;
}

.values > * {
	padding-bottom: 1em;
}

.values p a {
	color: #1155cc;
}

.values p a:hover {
	border-bottom: 1px dotted #1155cc;
}

.values p a:active {
	position: relative;
	top: 1px;
}

.values > ul {
	text-align: center;
	padding: 0;
}

.values > ul li {
	display: inline-block;
	list-style: none;
	background: #ebebeb;
	border-bottom: 1px solid #fff;
	-moz-box-shadow: -1px -1px 0 #d2d2d2;
	-webkit-box-shadow: -1px -1px 0 #d2d2d2;
	box-shadow: -1px -1px 0 #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 3em;
}

.values > ul li:last-child {
	margin-right: 0;
}

.values > ul li a {
	font-size: 1.5em;
	display: block;
	color: #000;
	padding: 1em 1.5em;
}

.value1, .value3, .value5, ,.value7, .value9 {
	clear: both;
	text-align: left;
}

.value1 img, .value3 img {
	float: right;
	margin-left: 2em;
}

.value2, .value4, .value6, .value8 {
	clear: both;
	text-align: right;
}

.value2 img {
	float: left;
	margin-right: 2em;
}

.proposition h3 {
	font-size: 1.3em;
	font-weight: 600;
	letter-spacing: .05em;
	margin: 1.5em 0 .25em 0;
}

.proposition h3 a {
	color: #000;
}

.proposition p, .proposition li {
	margin: 0;
	font-size: .85em;
	line-height: 1.6em;
}

.tertiary {
	padding: 2em 0 1em 0;
}

.point {
	width: 274px;
	min-height: 565px;
	float: left;
	margin: 0 39px 0 0;
	text-align: center;
}

.point-content {
	text-align: left;
}

.point:nth-child(3n) {
	margin: 0;
}

.point h4 {
	margin: 1em 0 .25em 0;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 600;
}

.point h4 a {
	color: #000;
}

.point p {
	margin: 0;
	font-size: .8em;
	line-height: 1.85em;
}

.point p a {
	color: #1155cc;
}

.point p a:hover {
	border-bottom: 1px dotted #1155cc;
}

.point p a:active {
	position: relative;
	top: 1px;
}

.point span {
	display: block;
	height: 150px;
	background-position: bottom center;
	background-repeat: no-repeat;
}

#point1 {background-image: url("images/point1.png");}
#point2 {background-image: url("images/point2.png");}
#point3 {background-image: url("images/point3.png");}
#point4 {background-image: url("images/point4.png");}
#point5 {background-image: url("images/point5.png");}
#point6 {background-image: url("images/point6.png");}

.uxguidelines {
	clear: both;
	border-top: 1px solid #ececec;
	padding-bottom: 1.25em;
	
}

.uxguidelines .ux-code-snippet {
	color: #000;
	font-family: monospace;
	font-size: 1.1em;
	display: block;
	padding: 1em 2em;
	margin: .5em 3em;
	background: #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 1.7em;
	-moz-box-shadow:inset -1px -1px 1px #d3d3d3, inset 5px 0 0 #abc66b;
	-webkit-box-shadow:inset -1px -1px 0 #d3d3d3, inset 5px 0 0 #abc66b;
	box-shadow:inset 0 0 10px #d3d3d3, inset 5px 0 0 #abc66b;
	border: 1px solid #fafafa;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.75);
	word-wrap: break-word;
}

.uxguidelines h2 {
	font-size: 3.5em;
	font-weight: 200;
	letter-spacing: .05em;
	margin: .5em 0 .25em 0;
	font-family: 'Raleway', sans-serif;
}

.uxguidelines #ux-point-1, .uxguidelines #ux-point-2, .uxguidelines #ux-point-3 {
	clear: both;
}

.uxguidelines #ux-point-1 h3, .uxguidelines #ux-point-2 h3, .uxguidelines #ux-point-3 h3 {
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: .05em;
	margin: 1em 0;	
	text-transform: uppercase;
}

.uxguidelines #ux-point-1 h3, .uxguidelines #ux-point-2 > img {
	float: left;
	margin-right: 2em;
}

.uxguidelines #ux-point-1 h3 {
	line-height: 1.5em;
	font-size: 1.5em;
}

.uxguidelines #ux-point-2 p {
	line-height: 1.5em;
	font-size: 1.7em;
	font-family: 'Raleway', sans-serif;
}

.uxguidelines #ux-point-3 p {
	font-size: 1.2em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.footer {
	clear: both;
	padding-top: 3em;
	text-align: center;
	font-size: .7em;
	color: #777;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

.account-chooser {
	background: rgba(255,255,255,.78);
	font-family: 'Open Sans', arial, sans-serif;
	
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 314159;
}

.account-chooser{display: none}
.account-chooser .modal-loading{display: none;}
.account-chooser #modal-accountselection{display: none;}

.account-chooser .modal-loading {
	width: 125px;
	height: 125px;
	background: #f5f5f5;
	border: 1px solid #b8b8b8;
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	margin: 20% auto 0 auto;
	position: relative;
	top: 120px;
	text-align: center;
	cursor: pointer;
}

.account-chooser .modal-loading:hover {
	background: #f9f9f9;
}

.account-chooser .modal-loading:active {
	top: 121px;
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.account-chooser .modal-loading a {
	line-height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	padding: 10px;
	opacity: .4;
}

.account-chooser .modal-loading a:hover {
	opacity: .9;
}

.account-chooser .modal-loading a:active {
	top: 1px;
}

.account-chooser .modal-loading > img {
	margin: 22px 0 0 0;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg); 
		transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg); 
		transform: rotate(180deg);	
	}
	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg);
	}
}

.account-chooser .modal-loading h2 {
	font-size: 1em;
	font-weight: 600;
	text-shadow: 0px 2px 0 #fff;
	margin: .25em 0 0 0;
}

.account-chooser .modal {
	max-width: 600px;
	background: #f5f5f5;
	border: 1px solid #b8b8b8;
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	margin: 0 auto;
	position: relative;
	top: 20%;
}

.account-chooser #accounts-select {
	width: 299px;
}

@media only screen and (max-width: 601px) {
	.account-chooser .modal {
		max-width: 300px;
		overflow: hidden;
	}
	#modal-idpselection {
		display: none;
	}
}

.account-chooser .modal .modal-header {
	background: #acc75a;
	border-bottom: 1px solid #efefef;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
	height: 55px;
	padding-left: 40px;
}

.account-chooser .modal .modal-header > img {
	margin: 11px 0 12px 0;
}

.account-chooser .modal .modal-header a {
	line-height: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 10px;
	height: 10px;
	opacity: .4;
}

.account-chooser .modal .modal-header a:hover {
	opacity: .9;
}

.account-chooser .modal .modal-header a:active {
	top: 11px;
	opacity: 1;
}

.account-chooser h2 {
	color: #3d3d3d;
	
	font-size: .9em;
	font-weight: 600;
	padding: 0;
	margin: 15px 0;
}

.account-chooser #accounts-select h2 {
	font-size: 1em;
	font-weight: 600;
	margin: 15px 0 10px 12px;
}

.account-chooser .modal #modal-accountselection {
	float: left;
	height: 319px;
	width: 245px;
	padding: 0 27px;
}

.account-chooser .modal #modal-accountselection ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.account-chooser .modal #modal-accountselection ul li {
	position: relative;
}

.account-chooser .modal #modal-accountselection ul li:hover a {
	display: block;
}

.account-chooser .modal #modal-accountselection ul .hover a {
	display: block;
}

.account-chooser .modal #modal-accountselection ul li a {
	display: none;
	line-height: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	padding: 10px;
	opacity: .4;
}

.account-chooser .modal #modal-accountselection ul li a:hover {
	opacity: .9;
}

.account-chooser .modal #modal-accountselection ul li a:active {
	top: 1px;
}

.account-chooser .modal #modal-accountselection ul li {
	display: block;
	min-height: 42px;
	margin: 0 0 5px 0;
	padding: 8px 12px;
	border: 1px solid transparent;
	cursor: pointer;
}

.account-chooser .modal #modal-accountselection ul li:hover {
	background: #fff;
	border: 1px solid #d9d9d9;
}

.account-chooser .modal #modal-accountselection ul .hover {
	background: #fff;
	border: 1px solid #d9d9d9;
}

.account-chooser .modal #modal-accountselection ul li > img {
	float: left;
	margin-right: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.account-chooser .modal #modal-accountselection ul li p {
	font-size: .7em;
	color: #6d6d6d;
	line-height: 1.35em;
	padding: .35em 0 0 0;
	margin: 0;
	overflow: hidden;
}

.account-chooser .modal #modal-accountselection ul li p strong {
	display: block;
	font-size: 1.25em;
	font-weight: 600;
	color: #222;
}

.account-chooser .modal #modal-accountselection #modal-signin-another {
	font-size: .72em;
	font-weight: 600;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background-color: #5b5b5b;
	background-image: url("images/keyhole.png"), -moz-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-image: url("images/keyhole.png"), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.1)), to(rgba(0,0,0,.5)));
	background-image: url("images/keyhole.png"), -webkit-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)); 
	background-image: url("images/keyhole.png"), -o-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid #4d4d4d;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	padding: .58em .975em .58em 2.6em;
	
	cursor: pointer;
	display: block;
	margin: 1.3em 13px 0 13px;
	text-decoration: none;
}

.account-chooser .modal #modal-accountselection #modal-signin-another:hover {
	background-color: #6b6b6b;
	background-image: url("images/keyhole.png"), -moz-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-image: url("images/keyhole.png"), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.1)), to(rgba(0,0,0,.5)));
	background-image: url("images/keyhole.png"), -webkit-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)); 
	background-image: url("images/keyhole.png"), -o-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-position: left center;
	background-repeat: no-repeat;
}

.account-chooser .modal #modal-accountselection #modal-signin-another:active {
	background-color: #4b4b4b;
}

.account-chooser .modal #modal-emailentry {
	border-right: 1px solid #ebebeb;
	
	float: left;
	height: 319px;
	width: 219px;
	padding: 0 40px;
}

.account-chooser .modal #modal-emailentry {
	border-right: 1px solid #ebebeb;
	
	float: left;
	height: 319px;
	width: 219px;
	padding: 0 40px;
}

.account-chooser .modal #modal-emailentry #modal-email {
	border: 1px solid #bbb;
	font-family: arial, sans-serif;
	
	display: block;
	min-width: 203px;
	font-size: .9em;
	padding: .4em 7px;
	margin: 0 0 12px 0;
	outline: none;
}

.account-chooser .modal #modal-emailentry #modal-email:focus {
	border: 1px solid #4d4d4d;
}

.account-chooser .modal #modal-emailentry #modal-signin {
	font-size: .72em;
	font-weight: 600;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background-color: #5b5b5b;
	background-image: url("images/keyhole.png"), -moz-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-image: url("images/keyhole.png"), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.1)), to(rgba(0,0,0,.5)));
	background-image: url("images/keyhole.png"), -webkit-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)); 
	background-image: url("images/keyhole.png"), -o-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid #4d4d4d;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	padding: .58em 1em .58em 2.6em;
	
	cursor: pointer;
	display: block;
	margin: 0;
	text-decoration: none;
}

.account-chooser .modal #modal-emailentry #modal-signin:hover {
	background-color: #6b6b6b;
	background-image: url("images/keyhole.png"), -moz-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-image: url("images/keyhole.png"), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.1)), to(rgba(0,0,0,.5)));
	background-image: url("images/keyhole.png"), -webkit-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)); 
	background-image: url("images/keyhole.png"), -o-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	background-position: left center;
	background-repeat: no-repeat;
}

.account-chooser .modal #modal-emailentry #modal-signin:active {
	background-color: #4b4b4b;
}

.account-chooser .modal #modal-idpselection {
	float: left;
	height: 319px;
	width: 260px;
	padding-left: 40px;
}

.account-chooser .modal #modal-idpselection ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.account-chooser .modal #modal-idpselection ul li {
	background: #fff;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	margin: 0 0 10px 0;
	padding: 0;
	width: 219px;
}

.account-chooser .modal #modal-idpselection ul li:hover {
	position: relative;
	bottom: 1px;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.07);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.07);
	box-shadow: 0 2px 3px rgba(0,0,0,.07);
} 

.account-chooser .modal #modal-idpselection ul li:active {
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.05);
	box-shadow: 0 1px 0px rgba(0,0,0,.05);
	top: 0;
}

.account-chooser .modal #modal-idpselection ul li a {
	display: block;
	min-height: 50px;
	line-height: 47px;
}

.account-chooser .modal #modal-idpselection ul li a img {
	vertical-align: middle;
}

.account-chooser .modal #modal-idpselection ul .disabled-idp a img {opacity: .2;}
.account-chooser .modal #modal-idpselection ul .disabled-idp:hover a img {opacity: 1;}
.account-chooser .modal #modal-idpselection ul .enabled-idp {
	position: relative;
	bottom: 1px;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.07);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.07);
	box-shadow: 0 2px 3px rgba(0,0,0,.07);
}

.account-chooser .modal .modal-footer {
	color: #999;
	
	padding: 1.5em 40px;
	clear: both;
	font-size: .5em;
}

.account-chooser .modal .modal-footer a {
	color: #1155cc;
}

#slideshow-slides {
	display: none;
	position: fixed;
	z-index: 314161;
	text-align: center;
	top: 20px;
	left: 0;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#slideshow-slides li {
	display: inline-block;
	cursor: pointer;
	background: #fff;
	padding: .25em .65em;
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	margin: 0 .3em;
}

#slideshow-slides .current-slide {
	background: #dcf09e;
	border: 1px solid #acc75a;
}

#slideshow-slides li:first-child {
	display: block;
	margin: 0 0 .3em 0;
	cursor: default;
	font-size: .85em;
	background: transparent;
	-moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
	border: 0;
}

#cursor {
	display: none;
	position: fixed;
	top: 20%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 314160;
	text-align: center;
}

#cursor img {
	position: relative;
	top: 20%;
}